{{!-- The following component displays Ember's default welcome message. --}}
<h1> Forum posts </h1>

<div class="posts">
  {{#each model as |post|}}
   {{post-tile post=post}}
 {{/each}}
</div>
{{!-- Feel free to remove this! --}}

{{outlet}}
